<button class="btn btn-success"{{action 'delete' question}}>Delete Question</button>
<hr>
<button class="btn btn-success"{{action 'addTostore' question}}>Delete Question</button>
<h3>{{question.question}}</h3>
<p>Asked by:{{question.author}}</p>
<p>{{question.notes}}</p>
<hr>
<div class="center">
  <h4>Answers from the community</h4>
</div>
{{#each uestion.answers as |answer|}}
  {{answer-detail answer=answer destroyAnswer="destroyAnswer"}}
{{/each}}


{{yield}}
